.btn-primary {
  background: var(--primary);
  text-decoration: none;
  color: var(--btn-text-primary);
  padding: var(--spacing-3);
  border-radius: var(--border-3);
  font-weight: var(--semi-bold);
  font-size: var(--button-txt-size);
  text-transform: uppercase;
  transition: var(--fade-in-out-time);
}

.btn-primary:hover {
  opacity: var(--btn-hover-opacity);
  transition: var(--fade-in-out-time);
}
