.container-new-users {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-7);
}

.card-new-user {
  height: var(--spacing-16);
  width: var(--spacing-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-3);
  margin-bottom: var(--spacing-7);
}

.card-new-user img {
  height: var(--spacing-12);
  width:  var(--spacing-12);
  border-radius: 50%;
}

.card-new-user .user-name {
  font-weight: var(--semi-bold);
}

.card-new-user .user-job {
  font-weight: var(--medium);
  margin-top: var(--spacing-3);
}

.card-new-user .skill {
  background: var(--secondary);
  color: black;
  border-radius: var(--border-3);
  min-width: var(--spacing-9);
  min-height: var(--spacing-6);
  padding: var(--spacing-2) var(--spacing-3);
  margin-top: var(--spacing-3);
}
