@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --bg-main: #FFFBDF;
  --primary: #07A4B5;
  --secondary: #C9EFF9;
  --tertiary: #FED8A7;
  --btn-text-primary: #FFF;
  --hover: #F7F7F7;

  /* Hover */
  --btn-hover-opacity: 80%;

  /* Spacing */
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 8px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 48px;
  --spacing-8: 64px;
  --spacing-9: 96px;
  --spacing-10: 128px;
  --spacing-11: 160px;
  --spacing-12: 192px;
  --spacing-13: 224px;
  --spacing-14: 246px;
  --spacing-15: 310px;
  --spacing-16: 374px;

  --banner-height: 405px;

  /* Border Radius */
  --border-1: 2px;
  --border-2: 4px;
  --border-3: 8px;

  /* Font */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --button-txt-size: 14px;

  /* Effects */
  --fade-in-out-time: 0.2s;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: var(--regular);
}

h6 {
  font-size: 20px;
  font-weight: var(--medium);
}

h5 {
  font-size: 24px;
  font-weight: var(--regular);
}

h4 {
  font-size: 34px;
  font-weight: var(--regular);
}

h3 {
  font-size: 48px;
  font-weight: var(--regular);
}

h2 {
  font-size: 60px;
  font-weight: var(--light);
}

h1 {
  font-size: 96px;
  font-weight: var(--light);
}
