.nav-link {
  padding: 8px;
  transition: 0.2s;
  border-radius: 4px;
  text-decoration: none;
}

.nav-link:hover,
.selected {
  background: #E2E8F0;
}

.feedback {
  background: #C05621;
  color: white;
  font-weight: bold;
}

.feedback:hover {
  background: #c47659;
}
