.nav-link {
  padding: 8px;
  transition: 0.2s;
  border-radius: 4px;
  text-decoration: none;
}

.nav-link:hover,
.selected {
  background: #e2e8f0;
}

.feedback {
  background: #c05621;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  max-width: fit-content;
}

.feedback > svg {
  margin-left: 4px;
}

.feedback:hover {
  background: #c47659;
}
